<div className="container">
  
  <p> Computer Chose <span> {{ this.cpuChoice }} </span> </p>
  <p> Computer Score {{ this.cpuScore }} </p>


  <p> You Chose <span> {{ this.playerChoice }} </span>  </p>
  <p> You Score {{ this.playerScore }} </p>

  <h2 class="result">{{ this.outcome }}</h2>




  <button value="Rock" {{on 'click' this.userChoice}}> Rock </button>
  <button value="Paper" {{on 'click' this.userChoice}}> Paper </button>
  <button value="Scissors" {{on 'click' this.userChoice}}> Scissors </button>

  <button {{on 'click' this.resetGame}}> Clear game </button>

</div>

